#upButton{
    position: absolute;
    height: 20px;
    width: 50px;
    top: 235px;
    left: 305px;
}
#leftButton{
    position: absolute;
    height: 50px;
    width: 20px;
    top: 255px;
    left: 285px;
}
#downButton{
    position: absolute;
    height: 20px;
    width: 50px;
    top: 305px;
    left: 305px;
}
#rightButton{
    position: absolute;
    height: 50px;
    width: 20px;
    top: 255px;
    left: 355px;
}

iframe{
    position: absolute;
    margin-top: 10%;
    margin-left: -50%;
}