.body{
    background-color: seashell;
}
.header{
    text-align: center;
    font-size: 50px;
    color: black;
    margin-top: 5%;
}

.wrapper{
    width: 25%;
    margin-top: 5%;
    margin-left: 37%;
    font-size: 20px;
}

input{
    float: right;
}

#button{
    margin-top: 5%;
    margin-left: 13%;
    position: absolute;
    text-align: center;
}

#dataSet{
    margin-left: 25%;
    font-size: 15px;
    margin-top: 200px;
    font-weight: bold;
}

#dataSet2{
    margin-top: 10px;
    margin-left: 25%;
    font-size: 15px;
}

#myTable{
    position: absolute;
    margin-top: 34%;
    margin-left: 5%;
    font-size: large;
}

td{
    padding: 50px;
}

#tableheadings{
    position: absolute;
    float: right;
}

div{
    position: relative;
    margin-left: 90px;
    float: left;
    margin-top: 5%;
    font-weight: bold;
}

#h1{
    margin-left: 30px;
}

#h2{
    position: relative;
    margin-left: 65px;
}

#h3{
    position: relative;
    margin-left: 125px;
}
#h4{
    position: relative;
    margin-left: 190px;
}

#h8{
    position: relative;
    margin-left: 150px;
}