body{
    background-color:#dadcdd;
    width: 50%;
    margin-left: 25%;
}

#brander{
    font-size: 30px;
    color: grey;
}

.jumbotron{
    background-color: 	#A9A9A9;
    margin-top: 20%;
}

#jumbo{
    text-align: center;
    font-size: 70px;
    font-family: 'Roboto', sans-serif;
}
.inner{
    margin-top: 20%;
}

#jumboContents{
    font-size: 20px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
}

.buttonAlign{
    text-align: center;
    padding-bottom: 5%;
}

.headerAlign{
    text-align: right;
    margin-top: 0;
}
table{
    padding: 5%;
}

#footer{
    color: grey;
}

h4{
    font-family: 'Roboto', sans-serif;
}

td{
    font-family: 'Roboto', sans-serif;
}

.greenButton{
        background-color: #4CAF50; 
        color: white;
        padding: 15px 32px;
        text-align: center;
        font-size: 20px;
        border-radius: 5px;
        border: none;
}

.blueButton{
    background-color: #1E90FF; 
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    border: none;
} 


#smallblue{
    background-color: #1E90FF; 
    color: white;
    padding: 5px 15px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}