body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(106,9,121,1) 100%, rgba(0,212,255,1) 100%);
}

#timer{
    color: white;
    text-align: center;
    margin-top: 22%;
    font-size: 90px;
    font-family: 'Do Hyeon', sans-serif;
}