.innerBody{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    /*outline: 10px solid red;
    outline-offset: -30px;
    z-index: 10;*/
}
.container{
    position: relative;
    background-color: #1f1527;
    height: 600px;
    border-top-left-radius: 25px;
    font-family: 'Playfair Display', serif; 
    color: white; 
}
.container::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    background-color: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top right;
    transform: skewY(-4deg);
    border-top-right-radius: 25px;
}

.container2{
    position: relative;
    background-color:#e9e9d6;
    height: 400px;  
    transform-origin: top right;
    transform: skewY(-4deg);
}


.container3{
    position: relative;
    background-color:#1f1527;
    height: 400px;  
    transform-origin: top right;
    transform: skewY(-4deg);
}

.container4{
    position: relative;
    background-color:#f4c9c3;
    height: 400px;  
    transform-origin: top right;
    transform: skewY(-4deg);
}

.container5{
    position: relative;
    background-color:#f1a4b5;
    height: 400px;  
    transform-origin: top right;
    transform: skewY(-4deg);
}


.container6{
    position: relative;
    background-color:#b4b8bf;
    height: 400px;  
    transform-origin: top right;
    transform: skewY(-4deg);
}


.container7{
    position: relative;
    background-color:#1f1527;
    height: 400px;  
    transform-origin: top right;
    transform: skewY(-4deg);
}

.container8{
    position: relative;
    background-color:#f1a4b5;
    height: 400px;  
    transform-origin: top right;
    transform: skewY(-4deg);
}

.container9{
    position: relative;
    background-color:#ffe4ce;
    height: 400px;  
    transform-origin: top right;
    transform: skewY(-4deg);
}

.container10{
    position: relative;
    background-color:#dadcdd;
    height: 400px;  
    transform-origin: top right;
    transform: skewY(-4deg);
}

.container10::after{
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    background-color: inherit;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.slanttext{
    padding-top: 10%;
    transform: skewY(4deg);
}

.bigletter{
    font-size: 800%;
}





